@page "/settings"
@using MechKineticsArtSoftware.Data
@inject ConfigManager configmgr

<h1>Settings</h1>

<div>
    <div class="input-group-prepend">
        <span class="input-group-text">Number of Control Board Group</span>
        <input type="text" value="@configmgr.configData.num_board_group" @onchange="OnChangeBoardNum" class="form-control" />
    </div>

    @for (int i = 0; i < configmgr.configData.boards_info.Count; i++)
    {
        <div class="input-group-prepend">
            <span class="input-group-text">IP Address of Control Board Group @i</span>
            <input type="text" @bind="@configmgr.configData.boards_info[i].ip_address" class="form-control" />
        </div>
    }

    <div class="input-group-prepend">
        <span class="input-group-text">Number of Motor</span>
        <input type="text" value="@configmgr.configData.num_motor" @onchange="OnChangeMotorNum" class="form-control" />
    </div>

    <h4> motor assign</h4>
    @for (int i = 0; i < configmgr.configData.num_motor; i++)
    {
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Motor @i</span>
            </div>
            <div class="input-group-prepend">
                <span class="input-group-text">Board Group</span>
            </div>
            <select name="Board Group Index" class="form-control">
                @for (int j = 0; j < configmgr.configData.num_board_group; j++)
                {
                    <option value="@j">MainBoard @j</option>
                }
            </select>
            <div class="input-group-prepend">
                <span class="input-group-text">Board Index</span>
            </div>
            <select name="Board Index" class="form-control">
                <option value="0">MainBoard</option>
                <option value="1">ExtendBoard 1</option>
                <option value="2">ExtendBoard 2</option>
                <option value="3">ExtendBoard 3</option>
                <option value="4">ExtendBoard 4</option>
                <option value="5">ExtendBoard 5</option>
            </select>
            <div class="input-group-prepend">
                <span class="input-group-text">Driver Index</span>
            </div>
            <select name="Driver Index" class="form-control">
                <option value="0">Driver0</option>
                <option value="1">Driver1</option>
                <option value="2">Driver2</option>
                <option value="3">Driver3</option>
                <option value="4">Driver4</option>
                <option value="5">Driver5</option>
            </select>
        </div>
        }

        <button @onclick="SaveConf" class="form-control">Save Config</button>

    </div>

@code {

    void SaveConf()
    {
        configmgr.SaveSetting();
    }

    void OnChangeBoardNum(ChangeEventArgs e)
    {
        configmgr.configData.num_board_group = int.Parse(e.Value.ToString());

        if (configmgr.configData.num_board_group < configmgr.configData.boards_info.Count)
        {
            configmgr.configData.boards_info.RemoveRange(configmgr.configData.num_board_group - 1, configmgr.configData.boards_info.Count - configmgr.configData.num_board_group );
        }

        if (configmgr.configData.num_board_group > configmgr.configData.boards_info.Count)
        {
            int n = configmgr.configData.num_board_group - configmgr.configData.boards_info.Count;
            for (int i = 0; i < n; i++) {
                BoardInfo boardinfo = new BoardInfo();
                boardinfo.ip_address = string.Empty;
                boardinfo.board_group_index = i;
                configmgr.configData.boards_info.Add(boardinfo);
            }
        }

        StateHasChanged();
    }

    void OnChangeMotorNum(ChangeEventArgs e)
    {
        configmgr.configData.num_motor = int.Parse(e.Value.ToString());

        

        StateHasChanged();
    }

}
